<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyProgressBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF0FC13E1C955E4800316A6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF0FC1571C955E4800316A6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF0FC1621C955E4900316A6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
